<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.wjl.fcserver.dao.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.project.wjl.fcserver.model.SysRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_description" jdbcType="VARCHAR" property="roleDescription" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_name, role_description, createtime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByRoleid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select 
    COUNT(*)
    from sys_user_role_relation
    where role_id = #{roleid,jdbcType=INTEGER}
  </select>
  <select id="queryByPage" parameterType="com.project.wjl.fcserver.model.SysRole" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    <where>
    	<if test="roleName != null">
	        role_name like CONCAT('%',#{roleName,jdbcType=VARCHAR},'%')
	    </if> 
	  </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteRelationByRoleid" parameterType="java.lang.Integer">
    delete from sys_role_resource_relation
    where role_id = #{roleid,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.project.wjl.fcserver.model.SysRole">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleName != null">
        role_name,
      </if>
      <if test="roleDescription != null">
        role_description,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDescription != null">
        #{roleDescription,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <insert id="insertResourcesBatch">
	INSERT INTO sys_role_resource_relation
	(role_id, resource_id)
	VALUES
    <foreach collection ="resourceidlist" item="resourceid" separator =",">
         (#{roleid,jdbcType=INTEGER}, #{resourceid,jdbcType=INTEGER})
    </foreach >
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.wjl.fcserver.model.SysRole">
    update sys_role
    <set>
      <if test="roleName != null">
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDescription != null">
        role_description = #{roleDescription,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>